.navbar-inverse{
    padding-bottom: 1%;
    background-color: #c2242a;
    border-color: #c2242a;
    color: white;
}

.navbar-inverse .navbar-brand{
    color: white;
}

#titre{
    color: #c2242a;
}

#main-jumbo{
    background-color: #c3c3c3;
}

body{
    padding-top: 70px;
}

#para-left{
    font-size: 1.5em;
}